/*--------------------------------------------------------------
# Color Pallete
--------------------------------------------------------------*/

:root {
    --color1: #4285f4;
    --color1alt: #067ded;
    --color2: #db4437;
    --color3: #f4b400;
    --color4: #0f9d58;
    --color5: #18d26e;
    --color6: #35e888;
    --white: #fff;
    --black: #000;
    --light-grey: #aaaaaa;
    --default-bg: #040404;
    --default-text-color: #404040;
    --alt-hint-of-transparency-black: rgba(0, 0, 0, 0.9);
    --hint-of-transparency-black: rgba(0, 0, 0, 0.6);
    --medium-transparency-grey: rgba(204, 204, 204, 0.1);
    --hint-of-transparency-white: rgba(255, 255, 255, 0.6);
    --light-transparency-white: rgba(255, 255, 255, 0.3);
    --light-transparency-black: rgba(0, 0, 0, 0.3);
    --medium-transparency-white: rgba(255, 255, 255, 0.12);
    --heavy-transparency-white: rgba(255, 255, 255, 0.05);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
main{
  background: var(--default-bg);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  background: var(--black);
}

a {
  color: var(--color5);
  text-decoration: none;
}

a:hover {
  color: var(--color6);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.im-2x {
  font-size: 48px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--color1);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color1alt);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--black);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--color5);
  border-top-color: var(--black);
  border-bottom-color: var(--black);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  background: var(--black);
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: var(--black);
    border-right: 1px solid var(--black);
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: --white;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg3.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  background: var(--heavy-transparency-white);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--white);
}

#hero p {
  color: var(--white);
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: var(--color6);
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--white);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--color6);
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color6);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--white);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--color6);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--white);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--white);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content h3 span {
    font-weight: 700;
    font-size: 26px;
    color: var(--color5);
    border-bottom: 2px solid var(--color2);
    padding-bottom: 6px;
}

.about .content h3 span1 {
    font-weight: 700;
    font-size: 26px;
    color: var(--color5);
    border-bottom: 2px solid var(--color1);
    padding-bottom: 6px;
}

.about .content h3 span2 {
    font-weight: 700;
    font-size: 26px;
    color: var(--color5);
    border-bottom: 2px solid var(--color3);
    padding-bottom: 6px;
}

.about .content p.subtitle {
    color: var(--light-grey);
    font-style: italic;
    font-weight: bold;
}

.about .content p.info {
    color: var(--white);
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skill_experience h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--light-grey);
    font-family: "Poppins", sans-serif;
}

.skill_experience divider {
    content: "";
    width: 20px;
    height: 1px;
    display: inline-block;
    background: var(--color1);
    margin: 4px 4px;
}

.skill_experience h2 expert {
    color: var(--color2);
}

.skill_experience h2 advanced {
    color: var(--color1);
}

.skill_experience h2 intermediate {
    color: var(--color3);
}

.skill_experience h2 learning {
    color: var(--color4);
}

.skill_experience h2 years {
    color: var(--white);
}


.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  font-size: 0.875rem;
}

.skills .progress .skill small {
    font-size: 0.75rem;
    font-weight: 700;
}

.skills .progress .skill expert {
    color: var(--color2);
}

.skills .progress .skill advanced {
    color: var(--color1);
}

.skills .progress .skill intermediate {
    color: var(--color3);
}

.skills .progress .skill learning {
    color: var(--color4);
}

.skills .progress .skill lifetime {
    color: var(--light-grey);
}

.skills .progress .skill .val {
  float: right;
    font-size: 0.8125rem;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--medium-transparency-white);
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: var(--color5);
}


/*--------------------------------------------------------------
# Hobbies/Interests
--------------------------------------------------------------*/

.hobbies .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: var(--heavy-transparency-white);
    transition: ease-in-out 0.3s;
}

.hobbies .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

.hobbies .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: var(--white);
}

.hobbies .icon-box:hover {
    background: var(--medium-transparency-white);
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog .blog-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
}

.blog .blog-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--medium-transparency-white);
  position: relative;
}

.blog .blog-item h4 {
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--color5);
  margin-bottom: 10px;
}

.blog .blog-item h5 {
  font-size: 16px;
  background: var(--medium-transparency-white);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog .blog-item p,
ul,
li {
    color: var(--light-grey);
}

.blog .blog-item ul {
  padding-left: 20px;
}

.blog .blog-item ul li {
  padding-bottom: 10px;
}

.blog .blog-item:last-child {
  padding-bottom: 0;
}

.blog .lb{
  display: none;
}

.vbox-content {
    width: 100%;
    height: 100%;
}

.vbox-content img {
    max-width: 100%;
    height: 100%;
}

#more-astro20 {
    display: none;
}

#more-fiber {
    display: none;
}

#more-astro19 {
    display: none;
}

.blog .button {
    font-family: "Poppins", "Open Sans";
    color: var(--color5);
    display: inline-block;
    cursor: pointer;
    background-color: var(--default-bg);
    font: 400 13.3333px Arial;
    padding: 4px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--light-grey);
    border-image: initial;
    border-radius: 6px;
}


/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
.projects .icon-box {
  text-align: center;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: var(--default-bg);
}

.projects .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out 0s;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 5px;
  margin-bottom: 20px;
}



.projects .icon-box .icon i {
  color: var(--white);
  font-size: 28px;
  transition: 0.5s;
  position: relative;
}

.projects .icon-box .icon svg {
  position: relative;
  top: 0;
  left: 0;
}

.projects .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.projects .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.projects .icon-box h4 a {
  transition: ease-in-out 0.3s;
}

.projects .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: var(--light-grey);
}

.projects .icon-box:hover {
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.projects .icon-box:hover h4 a,
.projects .icon-box:hover h4 button,
.projects .icon-box:hover p {
    color: var(--white);
}

h4 button {
    all: unset;
    display: inline;
}

h2 button {
    all: unset;
    display: inline;
    margin: 0 0 0 0;
}

button {
    all: unset;
}

.half-width {
    width: 47.5%;
}

/*--------------------------------------------------------------
# Photography
--------------------------------------------------------------*/
.photography .photography-item {
  margin-bottom: 30px;
}

.photography #photography-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.photography #photography-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.photography #photography-flters li:hover,
.photography #photography-flters li.filter-active {
  color: #0563bb;
}

.photography #photography-flters li:last-child {
  margin-right: 0;
}

.photography .photography-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.photography .photography-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.photography .photography-wrap .photography-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photography .photography-wrap .photography-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.photography .photography-wrap .photography-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.photography .photography-wrap .photography-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.photography .photography-wrap .photography-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.photography .photography-wrap .photography-links {
  text-align: center;
  z-index: 4;
}

.photography .photography-wrap .photography-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.photography .photography-wrap .photography-links a:hover {
  color: #148af9;
}

.photography .photography-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.photography .photography-wrap:hover .photography-info {
  opacity: 1;
}

.photography .photography-wrap:hover .photography-info::before {
  top: 15px;
  left: 15px;
}

.photography .photography-wrap:hover .photography-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Photography Details
--------------------------------------------------------------*/
.photography-details {
  padding-top: 40px;
}

.photography-details .photography-details-slider img {
  width: 100%;
}

.photography-details .photography-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.photography-details
  .photography-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.photography-details
  .photography-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

.photography-details .photography-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.photography-details .photography-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.photography-details .photography-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.photography-details .photography-info ul li + li {
  margin-top: 10px;
}

.photography-details .photography-description {
  padding-top: 30px;
}

.photography-details .photography-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.photography-details .photography-description p {
  padding: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0678e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--black);
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
*/

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px var(--color5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/

.credits {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: end;
    font-size: 13px;
    color: var(--white);
    z-index: 999999;
}

@media (max-width: 992px) {
    .credits {
        text-align: center;
        padding: 10px;
        background: var(--hint-of-transparency-black);
    }
}

.credits a {
    color: var(--color5);
    transition: 0.3s;
}

.credits a:hover {
    color: var(--white);
}

.credits div {
    font-size: 1px;
    opacity: 0;
}