/*--------------------------------------------------------------
# Color Pallete
--------------------------------------------------------------*/

:root {
  --color1: #4285f4;
  --color1alt: #067ded;
  --color2: #db4437;
  --color3: #f4b400;
  --color4: #0f9d58;
  --color5: #18d26e;
  --color6: #35e888;
  --white: #fff;
  --black: #000;
  --light-grey: #aaaaaa;
  --default-bg: #040404;
  --default-text-color: #404040;
  --alt-hint-of-transparency-black: rgba(0, 0, 0, 0.9);
  --hint-of-transparency-black: rgba(0, 0, 0, 0.6);
  --medium-transparency-grey: rgba(204, 204, 204, 0.1);
  --hint-of-transparency-white: rgba(255, 255, 255, 0.6);
  --light-transparency-white: rgba(255, 255, 255, 0.3);
  --light-transparency-black: rgba(0, 0, 0, 0.3);
  --medium-transparency-white: rgba(255, 255, 255, 0.12);
  --heavy-transparency-white: rgba(255, 255, 255, 0.05);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
main {
  background: var(--default-bg);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  background: var(--black);
}

a {
  color: var(--color5);
  text-decoration: none;
}

a:hover {
  color: var(--color5);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.im-2x {
  font-size: 48px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--color5);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--black);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color4);
  color: var(--white);
}

.back-to-top:hover > i {
  color: var(--white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color5);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--white);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--color5);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
}

.blog-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--medium-transparency-white);
  position: relative;
}

.blog-item h4 {
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--color5);
  margin-bottom: 10px;
}

.blog-item h5 {
  font-size: 16px;
  background: var(--medium-transparency-white);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-item p,
ul,
li {
  color: var(--light-grey);
}

.blog-item ul {
  padding-left: 20px;
}

.blog-item ul li {
  padding-bottom: 10px;
}

.blog-item:last-child {
  padding-bottom: 0;
}

.lb {
  display: none;
}

.vbox-content {
  width: 100%;
  height: 100%;
}

.vbox-content img {
  max-width: 100%;
  height: 100%;
}


.button {
  display: none;
}

